<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test thread-count="5" parallel="classes" verbose="5" name="AQA-tests">
        <classes>
                <class name="testingASignUpForm"/>
                <class name="MainCapabilities"/>
        </classes>
    </test>
</suite>